{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
<br />
<br />
<br />

<h1 class="display-4"> Gallery of Past Work</h1>


<a href="#" data-toggle="modal" data-target="#exampleModal" class="color-gray-darker c6 td-hover-none">
	<img alt="Card image cap" class="card-img-top" src="http://i3.ytimg.com/vi/vr0qNXmkUJ8/maxresdefault.jpg" />
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body mb-0 p-0">
				<img src="https://i3.ytimg.com/vi/vr0qNXmkUJ8/maxresdefault.jpg" alt="" style="width:100%">
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
  <div class="column">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
  <div class="column">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src=>
    <img src="">
  </div>
  <div class="column">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
    <img src="">
  </div>
</div>

{% endblock content %}