{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
<header class="hero">
<div class="hero__index">
</div>
</header>


    <!-- Page Content -->
<div class="container index__carousel">
	<div id="" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img class="d-block w-100" src="{% static "/img/img4.jpeg" %}" alt="First slide" >
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% static "/img/img16.jpeg" %}" alt="Second slide">
	    </div>
	    <div class="carousel-item">
	      <img class="d-block w-100" src="{% static "/img/img8.jpeg" %}" alt="Third slide" >
	    </div>
	  </div>
	</div>
</div>
<section class="about__section">
  <div class="about__header">
    <h1>Premium Grade Powder</h1>
  </div>
<div class="about__paragraph">
	<p>
		We are Houstons's best powder coating company that will fit your needs. We specialize in providing the best and most premium grade powder paint into
		our work and products. 

	</p>
</div>
{#<div class="about__images row">#}
{#	<img src="{% static "/img/img1.jpeg" %}" alt="" class="about__images-1">#}
{#	<img src="{% static "/img/img16.jpeg" %}" alt="" class="about__images-2">#}
{#</div>#}

</section>


{% endblock content %}

