{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block content %}
<header class="hero">
<div class="hero__index">
</div>
</header>


    <!-- Page Content -->
<section class="about__section">
	<div class="about_textarea">
		<div class="about__header">
			<h1>Premium Grade Powder</h1>
		</div>
		<div class="about__paragraph">
			<p>
				We are Houston's best powder coating company that will fit your needs. We specialize in providing the best and most premium grade powder paint into
				our work and products. We have over 8000 color choices to choose from and a quick turn around time to get your powder coated items back to you to enjoy.
			</p>
		</div>
	</div>
	<div class="container index__carousel">
		<div id="" class="carousel slide carousel-fade" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active">
		      <img class="d-block w-100" src="{% static "/img/img4.jpeg" %}" alt="First slide" >
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="{% static "/img/img16.jpeg" %}" alt="Second slide">
		    </div>
		    <div class="carousel-item">
		      <img class="d-block w-100" src="{% static "/img/img8.jpeg" %}" alt="Third slide" >
		    </div>
		  </div>
		</div>
	</div>
</section>

<section class="review__section">
	<div class="review__cards">
		<div class="review__cards-1"></div>
		<div class="review__cards-2"></div>
		<div class="review__cards-3"></div>
	</div>
</section>





{% endblock content %}

